*{
    margin: 0;
}
div{
    background-color: blueviolet;
    padding: 15px;
    margin-bottom: 10px;
    border: 5px solid red;
    border-radius: 10px;
    margin: 10px 30px;
}
.kiusa{
    align-items: center;
    list-style: none;
    list-style-type: upper-alpha;
}
.frta{
    text-align: center;
    color: red;
}